{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block form %}
    {{ form_start(form_i_d) }}
        <th>{{ form_label(form_i_d.id_invoice) }}<br>
        {{ form_widget(form_i_d.id_invoice) }}
        {{ form_errors(form_i_d.id_invoice) }}</th>
        <th>{{ form_label(form_i_d.data_invoice) }}<br>
        {{ form_widget(form_i_d.data_invoice) }}
        {{ form_errors(form_i_d.data_invoice) }}</th>
        <th>{{ form_label(form_i_d.id_counterparty) }}<br>
        {{ form_widget(form_i_d.id_counterparty) }}
        {{ form_errors(form_i_d.id_counterparty) }}</th>
        {#{{ form_start(form_c) }}
            <th>{{ form_label(form_c.counterparty) }}<br>
            {{ form_widget(form_c.counterparty) }}
            {{ form_errors(form_c.counterparty) }}</th>#}
        {{ form_start(form_p_n) }}
            <th>{{ form_label(form_p_n.part_number) }}<br>
            {{ form_widget(form_p_n.part_number) }}
            {{ form_errors(form_p_n.part_number) }}</th>
            <th>{{ form_label(form_p_n.manufacturer) }}<br>
            {{ form_widget(form_p_n.manufacturer) }}
            {{ form_errors(form_p_n.manufacturer) }}</th>
        <th>{{ form_label(form_i_d.name_detail) }}<br>
        {{ form_widget(form_i_d.name_detail) }}
        {{ form_errors(form_i_d.name_detail) }}</th>
        <th>{{ form_label(form_i_d.quantity) }}<br>
        {{ form_widget(form_i_d.quantity) }}
        {{ form_errors(form_i_d.quantity) }}</th>
        <th>{{ form_label(form_i_d.price) }}<br>
        {{ form_widget(form_i_d.price) }}
        {{ form_errors(form_i_d.price) }}</th>
        <th><button class="save" type="submit" name="save">Сохранить</button></th>
        {#{{ form_end(form_c) }}#}
        {{ form_end(form_p_n) }}   
    {{ form_end(form_i_d) }}   
{% endblock %}

{% block table_thead_tr %}
<th>№ Накладной</th>
<th>Дата накладной</th>
<th>Поставщик</th>
<th>№ Детали</th>
<th>Производитель</th>
<th>Описание детали</th>
<th>Количество</th>
<th>Цена шт</th>
<th>Цена общая</th>
<th>Продано шт</th>
<th>Продано Цена</th>
<th>Дата прод-жи</th>
<th>Продано</th>
<th>Возврат</th>
{% endblock %}

{% block tbody %}
    {% for  incoming_documents in arr_incoming_documents %}
    <tr>
    <td>{{ incoming_documents.getIdInvoice() }}</td>
    <td>{{ incoming_documents.getDataInvoice()|date("d-m-Y")}}</td>
    <td>{{ dump(incoming_documents.getIdCounterparty())}}</td>
    <td>{{ incoming_documents.getIdDetails() }}</td>
    <td>{{ incoming_documents.getIdManufacturer() }}</td>
    <td>{{ incoming_documents.getNameDetail() }}</td>
    <td>{{ incoming_documents.getQuantity() }}</td>
    <td>{{ incoming_documents.getPrice() / incoming_documents.getQuantity() }}</td>
    <td>{{ incoming_documents.getPrice() }}</td>
    {#{{ form_start(form_s) }}
        <td>{{ form_row(form_s.quantity_sold) }}</td>
        <td>{{ form_row(form_s.price_sold) }}</td>
        <td>{{ form_row(form_s.today_date) }}</td>
        <td><button class="sales" type="submit" name="sales">Продано</button></td>
    {{ form_end(form_s) }}#}
    <td><button class="refund" type="submit" name="refund">Возврат</button></td>
    </tr>
    {% endfor %}
{% endblock %}