{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form %}
    
    {{ form_start(form_i_d, {'action': path('sales_incoming_documents')}) }}

        {#{{ dump(app.flashes('children[price]')[0]) }}#}
        {% set number_document = '' %}
        {% set data_invoice = '' %}
        {% set id_counterparty = '' %}
        {% set part_numbers = '' %}
        {% set manufacturers = '' %}
        {% set name_detail = '' %}
        {% set quantity = '' %}
        {% set price = '' %}

        {% for value_number_document in app.flashes('number_document') %}  
        {% set number_document = value_number_document %}
        {% endfor %}
        <th>{{ form_label(form_i_d.number_document) }}<br>
        {{ form_widget(form_i_d.number_document, {value : number_document}) }}<br>
        {% for message in app.flashes('children[number_document].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_i_d.number_document) }}</th>

        {% for value_data_invoice in app.flashes('data_invoice') %}  
        {% set data_invoice = value_data_invoice %}
        {% endfor %}
        <th>{{ form_label(form_i_d.data_invoice) }}<br>
        {{ form_widget(form_i_d.data_invoice, {value : data_invoice}) }}
        {{ form_errors(form_i_d.data_invoice) }}</th>

        {% for value_id_counterparty in app.flashes('id_counterparty') %}  
        {% set id_counterparty = value_id_counterparty %}
        {% endfor %}
        <th>{{ form_label(form_i_d.id_counterparty) }}<br>
        {{ form_widget(form_i_d.id_counterparty, {value : id_counterparty}) }}
        {{ form_errors(form_i_d.id_counterparty) }}</th>

        {{ form_start(form_p_n) }}

            {% for value_part_numbers in app.flashes('part_numbers') %}  
            {% set part_numbers = value_part_numbers %}
            {% endfor %}
            <th>{{ form_label(form_p_n.part_numbers) }}<br>
            {{ form_widget(form_p_n.part_numbers, {value : part_numbers}) }}<br>
            {% for message in app.flashes('children[part_numbers].data') %}
            {{ message }}
            {% endfor %}
            {{ form_errors(form_p_n.part_numbers) }}</th>

            {% for value_manufacturers in app.flashes('manufacturers') %}  
            {% set manufacturers = value_manufacturers %}
            {% endfor %}
            <th>{{ form_label(form_p_n.manufacturers) }}<br>
            {{ form_widget(form_p_n.manufacturers, {value : manufacturers}) }}<br>
            {% for message in app.flashes('children[manufacturers].data') %}
            {{ message }}
            {% endfor %}
            {{ form_errors(form_p_n.manufacturers) }}</th>

        {% for value_name_detail in app.flashes('name_detail') %}  
        {% set name_detail = value_name_detail %}
        {% endfor %}
        <th>{{ form_label(form_i_d.name_detail) }}<br>
        {{ form_widget(form_i_d.name_detail, {value : name_detail}) }}<br>    
        {#{% if app.flashes('children[name_detail].data') %}#}
        {% for message in app.flashes('children[name_detail].data') %}
        {{ message }}
        {% endfor %}
       {#} {% endif %}#}
        {{ form_errors(form_i_d.name_detail) }}</th>

        {% for value_quantity in app.flashes('quantity') %}  
        {% set quantity = value_quantity %}
        {% endfor %}
        <th>{{ form_label(form_i_d.quantity) }}<br>
        {{ form_widget(form_i_d.quantity, {value : quantity}) }}<br>
        {% for message in app.flashes('children[quantity].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_i_d.quantity) }}</th>

        {% for value_price in app.flashes('price') %}  
        {% set price = value_price %}
        {% endfor %}
        <th>{{ form_label(form_i_d.price) }}<br>
        {{ form_widget(form_i_d.price, {value : price}) }}<br>
        {% for message in app.flashes('children[price]') %}
        {{ message }}
        {% endfor %}
        {% for message in app.flashes('children[price].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_i_d.price) }}</th>

        <th><button class="save" type="submit" name="save">Сохранить</button></th>

        {{ form_end(form_p_n) }}

    {{ form_end(form_i_d) }}   
{% endblock %}

{% block form_search %}
    
    {{ form_start(form_search, {'action': path('incoming_documents')}) }}
{#{{ dump(app.flashes()) }}#}
        {% set number_document_search = '' %}
        {% set s_data_invoice_search = '' %}
        {% set po_data_invoice_search = '' %}
        {% set id_counterparty_search = '' %}
        {% set id_details_search = '' %}
        {% set id_manufacturer_search = '' %}
        {% set s_price_search = '' %}
        {% set po_price_search = '' %}

        {% for value_number_document_search in app.flashes('search_number_document') %}  
        {% set number_document_search = value_number_document_search %}
        {% endfor %}
        <th>{{ form_label(form_search.search_number_document) }}<br>
        {{ form_widget(form_search.search_number_document, {value : number_document_search}) }}<br>
        {% for message in app.flashes('children[search_number_document].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_search.search_number_document) }}</th>

        {% for value_data_invoice_search in app.flashes('s_data_invoice') %}  
        {% set s_data_invoice_search = value_data_invoice_search %}
        {% endfor %}
        <th>{{ form_label(form_search.s_data_invoice) }}<br>
        {{'с '}}{{ form_widget(form_search.s_data_invoice, {value : s_data_invoice_search}) }}
        {{ form_errors(form_search.s_data_invoice) }}<br>
        {% for value_price in app.flashes('po_data_invoice') %}  
        {% set po_data_invoice_search = value_price %}
        {% endfor %}
        {{'по '}}{{ form_widget(form_search.po_data_invoice, {value : po_data_invoice_search}) }}<br>
        {{ form_errors(form_search.po_data_invoice) }}</th>

        {% for value_id_counterparty_search in app.flashes('search_id_counterparty') %}  
        {% set id_counterparty_search = value_id_counterparty_search %}
        {% endfor %}
        <th>{{ form_label(form_search.search_id_counterparty) }}<br>
        {{ form_widget(form_search.search_id_counterparty, {value : id_counterparty_search}) }}
        {{ form_errors(form_search.search_id_counterparty) }}</th>

        {% for value_id_details_search in app.flashes('id_details') %}  
        {% set id_details_search = value_id_details_search %}
        {% endfor %}
        <th>{{ form_label(form_search.id_details) }}<br>
        {{ form_widget(form_search.id_details, {value : id_details_search}) }}<br>
        {% for message in app.flashes('children[id_details].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_search.id_details) }}</th>

        {% for value_id_manufacturer_search in app.flashes('id_manufacturer') %}  
        {% set id_manufacturer_search = value_id_manufacturer_search %}
        {% endfor %}
        <th>{{ form_label(form_search.id_manufacturer) }}<br>
        {{ form_widget(form_search.id_manufacturer, {value : id_manufacturer_search}) }}<br>
        {% for message in app.flashes('children[id_manufacturer].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_search.id_manufacturer) }}</th>

        {% for value_s_price_search in app.flashes('s_price') %}  
        {% set s_price_search = value_s_price_search %}
        {% endfor %}
        <th>{{ form_label(form_search.s_price) }}<br>
        {{'с '}}{{ form_widget(form_search.s_price, {value : s_price_search}) }}
        {{ form_errors(form_search.s_price) }}<br>
        {% for value_po_price_search in app.flashes('po_price') %}  
        {% set po_price_search = value_po_price_search %}
        {% endfor %}
        {{'по '}}{{ form_widget(form_search.po_price, {value : po_price_search}) }}<br>
        {% for message in app.flashes('children[s_price].data') %}
        {{ message }}
        {% endfor %}
        {% for message in app.flashes('children[po_price].data') %}
        {{ message }}
        {% endfor %}
        {{ form_errors(form_search.po_price) }}</th>

        <th><button class="search" type="submit" name="search">Поиск</button></th>
        
    {{ form_end(form_search) }}

    <form action="/reset" name="reset">
    <th><button class="reset" type="submit" name="reset" value="reset">Сбросить</button></th>
    </form>
    
{% endblock form_search %}

{% block table_thead_tr %}
    <th>№ Накладной</th>
    <th>Дата накладной</th>
    <th>Поставщик</th>
    <th>№ Детали</th>
    <th>Производитель</th>
    <th>Описание детали</th>
    <th>Кол-во</th>
    <th>Цена шт</th>
    <th>Цена общая</th>
    <th>Продано шт</th>
    <th>Продано Цена</th>
    <th>Дата прод-жи</th>
    <th>Продано</th>
    <th>Возврат</th>
{% endblock table_thead_tr %}

{% block tbody %}

        {% for arr_search_invoice in arr_incoming_documents %}
            {% if arr_search_invoice %}
                {% for incoming_documents in arr_search_invoice %}
                    <tr>
                        {% if incoming_documents.getSales() == 1 
                        and incoming_documents.getRefund() == 1 %}

                            <td>{{ incoming_documents.getNumberDocument() }}</td>

                            <td>{{ incoming_documents.getDataInvoice()|date("d-m-Y") }}</td>

                            <td>{{ incoming_documents.getIdCounterparty().getCounterparty() }}</td>

                            <td>{{ incoming_documents.getIdDetails().getPartNumbers() }}</td>

                            <td>{{ incoming_documents.getIdManufacturer().getManufacturers() }}</td>

                            <td>{{ incoming_documents.getNameDetail() }}</td>

                            <td>{{ incoming_documents.getQuantity() - incoming_documents.getQuantitySold() }}</td>

                            <td>{{ ((incoming_documents.getPrice() / 100) 
                                        / incoming_documents.getQuantity())|number_format(2, '.', '') }}</td>

                            <td>{{ (incoming_documents.getPrice() / 100) - (((incoming_documents.getPrice() / 100) 
                                        / incoming_documents.getQuantity()) * incoming_documents.getQuantitySold()) }}</td>

                            <form action="/sales_parts" name="form_sales" method="post">
{#{{ dump(incoming_documents.getId()) }} <br/>#}
                                
                                {% set quantity_sold = '' %}
                                {% set price_sold = '' %}
                                {% set date_sold = '' %}
                               
                                {% if incoming_documents.getId() == id_sold %}
{{ dump(incoming_documents.getId()) }}
                                {% for value_quantity_sold in app.flashes('quantity_sold') %}  
                                {% set quantity_sold = value_quantity_sold %}
                                {% endfor %}
                                {% for value_price_sold in app.flashes('price_sold') %}  
                                {% set price_sold = value_price_sold %}
                                {% endfor %}
                                {% for value_date_sold in app.flashes('date_sold') %}  
                                {% set date_sold = value_date_sold %}
                                {% endfor %}
                                {% endif %}
                                {#{% else %}
                                {% set quantity_sold = '' %}
                                {% set price_sold = '' %}
                                {% set date_sold = '' %}#}
                                
                                <td><input type="number" name="quantity_sold" required="required" 
                                    style="width: 70px" placeholder="шт" value="{{ quantity_sold }}" />
                                        {#{% if incoming_documents.getId() == errors_id %}
                                            {{'Неверное <br> количество'}}
                                        {% endif %}</td>#}

                                
                                <td><input type="number" name="price_sold" required="required" 
                                    style="width: 98px" placeholder="Цена" value="{{ price_sold }}" /></td>

                                
                                <td><input type="date" name="date_sold" required="required" value="{{ date_sold }}" /></td>

                                <td><button class="sales" type="submit" name="sales" value="{{ incoming_documents.getId() }}">Продано</button></td>  

                            </form>

                            <form action="/refund_part" name="refund_part" method="get">

                                <td><button class="refund" type="submit" name="refund_part" value="{{ incoming_documents.getId() }}">Возврат</button></td>
                                
                            </form>
                        {% endif %}
                    </tr>   
                {% endfor %}
            {% else %}
                <h2>Данные не найдены.</h2>  
            {% endif %}
        {% endfor %}
    
{% endblock %}