{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form %}
    {{ form_start(form_i_d, {'action': path('sales_incoming_documents')}) }}
        <th>{{ form_label(form_i_d.number_document) }}<br>
        {{ form_widget(form_i_d.number_document) }}
        {{ form_errors(form_i_d.number_document) }}</th>
        <th>{{ form_label(form_i_d.data_invoice) }}<br>
        {{ form_widget(form_i_d.data_invoice) }}
        {{ form_errors(form_i_d.data_invoice) }}</th>
        <th>{{ form_label(form_i_d.id_counterparty) }}<br>
        {{ form_widget(form_i_d.id_counterparty) }}
        {{ form_errors(form_i_d.id_counterparty) }}</th>
        {#<th>{{ form_label(form_i_d.id_details) }}<br>
        {{ form_widget(form_i_d.id_details) }}
        {{ form_errors(form_i_d.id_details) }}</th>
        <th>{{ form_label(form_i_d.id_manufacturer) }}<br>
        {{ form_widget(form_i_d.id_manufacturer) }}
        {{ form_errors(form_i_d.id_manufacturer) }}</th>
        {{ form_start(form_c) }}
            <th>{{ form_label(form_c.counterparty) }}<br>
            {{ form_widget(form_c.counterparty) }}
            {{ form_errors(form_c.counterparty) }}</th>#}
        {{ form_start(form_p_n) }}
            <th>{{ form_label(form_p_n.part_numbers) }}<br>
            {{ form_widget(form_p_n.part_numbers) }}
            {{ form_errors(form_p_n.part_numbers) }}</th>
            <th>{{ form_label(form_p_n.manufacturers) }}<br>
            {{ form_widget(form_p_n.manufacturers) }}
            {{ form_errors(form_p_n.manufacturers) }}</th>
        <th>{{ form_label(form_i_d.name_detail) }}<br>
        {{ form_widget(form_i_d.name_detail) }}
        {{ form_errors(form_i_d.name_detail) }}</th>
        <th>{{ form_label(form_i_d.quantity) }}<br>
        {{ form_widget(form_i_d.quantity) }}
        {{ form_errors(form_i_d.quantity) }}</th>
        <th>{{ form_label(form_i_d.price) }}<br>
        {{ form_widget(form_i_d.price) }}
        {{ form_errors(form_i_d.price) }}</th>
        <th><button class="save" type="submit" name="save">Сохранить</button></th>
        {{ form_end(form_p_n) }}
    {{ form_end(form_i_d) }}   
{% endblock %}

{% block form_search %}

    {{ form_start(form_search, {'action': path('incoming_documents')}) }}

        <th>{{ form_label(form_search.number_document) }}<br>
        {{ form_widget(form_search.number_document) }}
        {{ form_errors(form_search.number_document) }}</th>

        <th>{{ form_label(form_search.s_data_invoice) }}<br>
        {{'с '}}{{ form_widget(form_search.s_data_invoice) }}
        {{ form_errors(form_search.s_data_invoice) }}<br>
        {{'по '}}{{ form_widget(form_search.po_data_invoice) }}
        {{ form_errors(form_search.po_data_invoice) }}</th>

        <th>{{ form_label(form_search.id_counterparty) }}<br>
        {{ form_widget(form_search.id_counterparty) }}
        {{ form_errors(form_search.id_counterparty) }}</th>

        <th>{{ form_label(form_search.id_details) }}<br>
        {{ form_widget(form_search.id_details) }}
        {{ form_errors(form_search.id_details) }}</th>

        <th>{{ form_label(form_search.id_manufacturer) }}<br>
        {{ form_widget(form_search.id_manufacturer) }}
        {{ form_errors(form_search.id_manufacturer) }}</th>

        <th>{{ form_label(form_search.s_price) }}<br>
        {{'с '}}{{ form_widget(form_search.s_price) }}
        {{ form_errors(form_search.s_price) }}<br>
        {{'по '}}{{ form_widget(form_search.po_price) }}
        {{ form_errors(form_search.po_price) }}</th>

        <th>{{ form_label(form_search.refund) }}<br>
        {{ form_widget(form_search.refund) }}
        {{ form_errors(form_search.refund) }}</th>

        <th><button class="search" type="submit" name="search">Поиск</button></th>
        
    {{ form_end(form_search) }}

    <form action="/reset" name="reset">
    <th><button class="reset" type="submit" name="reset" value="reset">Сбросить</button></th>
    </form>
    
{% endblock form_search %}

{% block table_thead_tr %}
    <th>№ Накладной</th>
    <th>Дата накладной</th>
    <th>Поставщик</th>
    <th>№ Детали</th>
    <th>Производитель</th>
    <th>Описание детали</th>
    <th>Кол-во</th>
    <th>Цена шт</th>
    <th>Цена общая</th>
    <th>Продано шт</th>
    <th>Продано Цена</th>
    <th>Дата прод-жи</th>
    <th>Продано</th>
    <th>Возврат</th>
{% endblock table_thead_tr %}

{% block tbody %}
    {% for arr_search_invoice in arr_incoming_documents %}
        {% for incoming_documents in arr_search_invoice %}
        <tr>
            {% if incoming_documents.getSales() == 1 
            and incoming_documents.getRefund() == 1 %}
                <td>{{ incoming_documents.getNumberDocument() }}</td>
                <td>{{ incoming_documents.getDataInvoice()|date("d-m-Y") }}</td>
                <td>{{ incoming_documents.getIdCounterparty().getCounterparty() }}</td>
                <td>{{ incoming_documents.getIdDetails().getPartNumbers() }}</td>
                <td>{{ incoming_documents.getIdManufacturer().getManufacturers() }}</td>
                <td>{{ incoming_documents.getNameDetail() }}</td>
                <td>{{ incoming_documents.getQuantity() - incoming_documents.getQuantitySold() }}</td>
                <td>{{ ((incoming_documents.getPrice() / 100) / incoming_documents.getQuantity())|number_format(2, '.', '') }}</td>
                <td>{{ (incoming_documents.getPrice() / 100) - (((incoming_documents.getPrice() / 100) 
                            / incoming_documents.getQuantity()) * incoming_documents.getQuantitySold()) }}</td>
                <form action="/sales_parts" name="form_sales" method="post">
                    <input type="hidden" name="id" required="required" value="{{ incoming_documents.getId() }}" />
                    <td><input type="number" name="quantity_sold" required="required" 
                        style="width: 70px" placeholder="шт" />
                            {% if incoming_documents.getId() == errors_id %}
                                {{'Неверное <br> количество'}}
                            {% endif %}</td>
                    <td><input type="number" name="price_sold" required="required" 
                        style="width: 98px" placeholder="Цена" /></td>
                    <td><input type="date" name="today_date" required="required" /></td>
                    <td><button class="sales" type="submit" name="sales">Продано</button></td>    
                </form>
                <form action="/refund" name="refund" method="get">
                    <td><button class="refund" type="submit" name="refund" value="{{ incoming_documents.getId() }}">Возврат</button></td>
                </form>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
{% endblock %}