{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}
 
 {% block legend %}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form_save_edit_sales %}{% endblock form_save_edit_sales %}

{% block form_search %}
    {#Форма поиска #}
    {{ form_start(form_sales_search, {'action': path('sales')}) }}
        {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
        {% set search_sales_part_numbers = '' %}
        {% set search_sales_id_original_number = '' %}
        {% set search_sales_manufacturers = '' %}
        {% set search_id_counterparty = '' %}
        {% set search_id_payment_method = '' %}
        {% set search_sales_id_part_name = '' %}
        {% set search_sales_id_car_brand = '' %}
        {% set search_sales_id_side = '' %}
        {% set search_sales_id_body = '' %}
        {% set search_sales_id_axle = '' %}
        {% set s_data_sales_search = '' %}
        {% set po_data_sales_search = '' %}
        {% set s_price_sales_search = '' %}
        {% set po_price_sales_search = '' %}

        {% do form_widget(form_sales_search.quantity_sales) %}

        {% for value_part_numbers in app.flashes('part_numbers_sales_search') %}  
            {% set search_sales_part_numbers = value_part_numbers %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.part_numbers_sales) }}<br>
        {{ form_widget(form_sales_search.part_numbers_sales, {value : search_sales_part_numbers}) }}<br>
       {# {% for message_part_numbers_sales in app.flashes('children[part_numbers_sales].data_errors') %}
            {{ message_part_numbers_sales }}
        {% endfor %}#}
        {{ form_errors(form_sales_search.part_numbers_sales) }}</th>

        {% for value_original_number in app.flashes('original_number_sales_search') %}  
            {% set search_sales_id_original_number = value_original_number %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.original_number_sales) }}<br>
        {{ form_widget(form_sales_search.original_number_sales, {value : search_sales_id_original_number}) }}<br>
        {#{% for message_original_number_sales in app.flashes('children[original_number_sales].data_errors') %}
            {{ message_original_number_sales }}
        {% endfor %}#}
        {{ form_errors(form_sales_search.original_number_sales) }}</th>

        {% for value_manufacturers in app.flashes('manufacturers_sales_search') %}  
                {% set search_sales_manufacturers = value_manufacturers %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.manufacturers_sales) }}<br>
        {{ form_widget(form_sales_search.manufacturers_sales, {value : search_sales_manufacturers}) }}<br>
        {#{% for message_manufacturers_sales in app.flashes('children[manufacturers_sales].data_errors') %}
            {{ message_manufacturers_sales }}
        {% endfor %}#}
        {{ form_errors(form_sales_search.manufacturers_sales) }}</th>

        {% for value_id_counterparty in app.flashes('id_counterparty_sales_search') %}  
        {% set search_id_counterparty = value_id_counterparty %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_counterparty_sales) }}<br>
        {{ form_widget(form_sales_search.id_counterparty_sales, {value : search_id_counterparty}) }}
        {{ form_errors(form_sales_search.id_counterparty_sales) }}</th>

        {% for value_id_payment_method in app.flashes('id_payment_method_sales_search') %}  
        {% set search_id_payment_method = value_id_payment_method %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_payment_method_sales) }}<br>
        {{ form_widget(form_sales_search.id_payment_method_sales, {value : search_id_payment_method}) }}
        {{ form_errors(form_sales_search.id_payment_method_sales) }}</th>

        {% for value_id_part_name in app.flashes('id_part_name_sales_search') %}  
            {% set search_sales_id_part_name = value_id_part_name %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_part_name_sales) }}<br>
        {{ form_widget(form_sales_search.id_part_name_sales, {value : search_sales_id_part_name}) }}
        {{ form_errors(form_sales_search.id_part_name_sales) }}</th>

    </tr>
    <tr>

        {% for value_id_car_brand in app.flashes('id_car_brand_sales_search') %}  
            {% set search_sales_id_car_brand = value_id_car_brand %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_car_brand_sales) }}<br>
        {{ form_widget(form_sales_search.id_car_brand_sales, {value : search_sales_id_car_brand}) }}
        {{ form_errors(form_sales_search.id_car_brand_sales) }}</th> 

        {% for value_id_side in app.flashes('id_side_sales_search') %}  
            {% set search_sales_id_side = value_id_side %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_side_sales) }}<br>
        {{ form_widget(form_sales_search.id_side_sales, {value : search_sales_id_side}) }}
        {{ form_errors(form_sales_search.id_side_sales) }}</th>

        {% for value_id_body in app.flashes('id_body_sales_search') %}  
            {% set search_sales_id_body = value_id_body %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_body_sales) }}<br>
        {{ form_widget(form_sales_search.id_body_sales, {value : search_sales_id_body}) }}
        {{ form_errors(form_sales_search.id_body_sales) }}</th>

        {% for value_id_axle in app.flashes('id_axle_sales_search') %}  
            {% set search_sales_id_axle = value_id_axle %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.id_axle_sales) }}<br>
        {{ form_widget(form_sales_search.id_axle_sales, {value : search_sales_id_axle}) }}
        {{ form_errors(form_sales_search.id_axle_sales) }}</th>

        {% for value_data_invoice_search in app.flashes('s_data_invoice_sales_search') %}  
        {% set s_data_sales_search = value_data_invoice_search %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.s_data_invoice_sales) }}<br>
        {{'с '}}{{ form_widget(form_sales_search.s_data_invoice_sales, {value : s_data_sales_search}) }}<br>
        {% for value_price in app.flashes('po_data_invoice_sales_search') %}  
        {% set po_data_sales_search = value_price %}
        {% endfor %}
        {{'по '}}{{ form_widget(form_sales_search.po_data_invoice_sales, {value : po_data_sales_search}) }}</th>

        {% for value_s_price_search in app.flashes('s_price_sales_search') %}  
        {% set s_price_sales_search = value_s_price_search %}
        {% endfor %}
        <th>{{ form_label(form_sales_search.s_price_sales) }}<br>
        {{'с '}}{{ form_widget(form_sales_search.s_price_sales, {value : s_price_sales_search}) }}
        {{ form_errors(form_sales_search.s_price_sales) }}<br>
        {% for value_po_price_search in app.flashes('po_price_sales_search') %}  
        {% set po_price_sales_search = value_po_price_search %}
        {% endfor %}
        {{'по '}}{{ form_widget(form_sales_search.po_price_sales, {value : po_price_sales_search}) }}<br>
        {#{% for message_s_price_sales in app.flashes('children[s_price_sales].data_errors') %}
        {{ message_s_price_sales }}
        {% endfor %}
        {% for message_po_price_sales in app.flashes('children[po_price_sales].data_errors') %}
        {{ message_po_price_sales }}
        {% endfor %}#}
        {{ form_errors(form_sales_search.po_price_sales) }}</th>

        <th>{{ form_widget(form_sales_search.button_sales, { 'label': 'Поиск', 'attr': {'class': 'search'} }) }}</th>

    {{ form_end(form_sales_search) }}

    <form action="/reset_sales" name="reset_sales">
        <th><button class="reset" type="submit" name="reset_sales">Сбросить</button></th>
    </form>

{% endblock form_search %}

{% block table_total_amount %}
    {% if arr_sales %}
        <th>Общая сумма</th>
    {% endif %}
{% endblock table_total_amount %}

{% block tbody_total_amount %}
    {% if arr_sales %}
        <td>&nbsp;{{total_amount|number_format(2, '.', '')}}</td>
    {% endif %}
{% endblock tbody_total_amount %}

{% block table_thead_tr %}
{#{{ dump(arr_sales) }}#}
{% if arr_sales %}
            <th>№<br>Детали</th>
            <th>№<br>Оригинал</th>
            <th>Произ-<br>тель</th>
            <th>Описание<br>детали</th>
            <th>Название<br>детали</th>
            <th>Марка</th>
            <th>Сторона</th>
            <th>Кузов</th>
            <th>Перед<br>Зад</th>
            <th>Пос-<br>щик</th>
            <th>Дата<br>продажи</th>
            <th>Кол-<br>во</th>
            <th>Цена<br>шт<br>закуп</th>
            <th>Цена<br>общая<br>закуп</th>
            <th>Цена<br>общая<br>продажи</th>
            <th>Прибыль</th>
            <th>Способ<br>оплаты</th>
            <th>КуДир</th>
            <th>Возврат</th>
{% else %}
    <h2>Видите параметры в поиск.</h2> 
{% endif %}
{% endblock table_thead_tr %}

{% block tbody %}
    {#выводит таблицу по поиску#}
      {% for sales_price in arr_sales %}
            {% if sales_price %}
               
                        <tr>
                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails().getPartNumbers() }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdOriginalNumber().getOriginalNumber() }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdManufacturer().getManufacturers() }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails().getNameDetail() }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdPartName().getPartName()|default('') }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdCarBrand().getCarBrand()|default('') }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdSide().getSide()|default('') }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdBody().getBody()|default('') }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice().getIdDetails()
                                .getIdAxle().getAxle()|default('') }}</td>

                            <td>&nbsp;{{ sales_price.getIdInvoice()
                                .getIdCounterparty().getCounterparty() }}</td>

                            <td>&nbsp;{{ sales_price.getDateSold()|date("d-m-Y") }}</td>   

                            <td>&nbsp;{{ sales_price.getQuantitySold() }}</td>

                            <td>&nbsp;{{ ((sales_price.getIdInvoice().getPrice() / 100) 
                                    / sales_price.getIdInvoice().getQuantity())|number_format(2, '.', '') }}</td>

                            <td>&nbsp;{{ (((sales_price.getIdInvoice().getPrice() / 100) 
                                        / sales_price.getIdInvoice().getQuantity())
                                            * sales_price.getQuantitySold())|number_format(2, '.', '') }}</td>

                            <td>&nbsp;{{ (sales_price.getPriceSold() / 100)|number_format(2, '.', '') }}</td>

                            <td>&nbsp;{{ ((sales_price.getPriceSold() / 100)
                                -(((sales_price.getIdInvoice().getPrice() / 100) 
                                        / sales_price.getIdInvoice().getQuantity())
                                            * sales_price.getQuantitySold()))|number_format(2, '.', '') }}</td>
                            
                            <td>&nbsp;{{ sales_price.getIdInvoice()
                                .getIdPaymentMethod().getMethod() }}</td>

                            <form action="/ku_dir_save" name="ku_dir_save" method="post">

                                <td><button class="save" type="submit" name="ku_dir_save" value="{{ sales_price.getIdInvoice().getId() }}">КуДир</button></td>
                                                            
                            </form>

                            <form action="/quantity_return_product" name="quantity_return_product" method="post">

                                <td><button class="refund" type="submit" name="quantity_return_product" value="{{ sales_price.getId() }}">Возврат</button></td>
                                                            
                            </form>
                            
                        </tr> 
                    
                
            {% else %}
                <h2>Данные не найдены. Видите параметры в поиск</h2>  
            {% endif %}
        {% endfor %}
{% endblock tbody %}