{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form_save_edit_sales %}
    {#Форма сохранения деталей#}
    {{ form_start(form_counterparty_sales, {'action': path('sales_counterparty')}) }}
{#{{ dump(app.flashes()) }}
        Переменный для вывода данных в форме когда форма не прошла валидацию#}
        {% set sales_counterparty = '' %}
        {% set sales_mail_counterparty = '' %}

        {% for value_counterparty in app.flashes('counterparty_sales') %}  
            {% set sales_counterparty = value_counterparty %}
        {% endfor %}
        <th>{{ form_label(form_counterparty_sales.counterparty) }}<br>
        {{ form_widget(form_counterparty_sales.counterparty, {value : sales_counterparty}) }}<br>
        {% for message_sales in app.flashes('children[counterparty].data_sales') %}
            {{ message_sales }}
        {% endfor %}
        {{ form_errors(form_counterparty_sales.counterparty) }}</th>

        {% for value_mail_counterparty in app.flashes('mail_counterparty_sales') %}  
            {% set sales_mail_counterparty = value_mail_counterparty %}
        {% endfor %}
        <th>{{ form_label(form_counterparty_sales.mail_counterparty) }}<br>
        {{ form_widget(form_counterparty_sales.mail_counterparty, {value : sales_mail_counterparty}) }}<br>
        {% for message_sales in app.flashes('children[mail_counterparty].data_sales') %}
            {{ message_sales }}
        {% endfor %}
        {% for message in app.flashes('сount_mail_counterparty') %}
            {{ message }}
        {% endfor %}
        {{ form_errors(form_counterparty_sales.mail_counterparty) }}</th>

        <th>{{ form_widget(form_counterparty_sales.button, { 'label': 'Сохранить', 'attr': {'class': 'save'} }) }}</th>
        
   {{ form_end(form_counterparty_sales) }}

{% endblock form_save_edit_sales %}

{% block form_search %}

    {{ form_start(form_counterparty_search) }}

        <th>{{ form_label(form_counterparty_search.counterparty_search) }}<br>
        {{ form_widget(form_counterparty_search.counterparty_search) }}
        {{ form_errors(form_counterparty_search.counterparty_search) }}</th>

        {% do form_widget(form_counterparty_search.mail_counterparty_search) %}

        <th>{{ form_widget(form_counterparty_search.button, { 'label': 'Поиск', 'attr': {'class': 'search'} }) }}</th>

    {{ form_end(form_counterparty_search) }}
    

    {{ form_start(form_counterparty_search) }}

      {% do form_widget(form_counterparty_reset.counterparty) %}
       
      {% do form_widget(form_counterparty_reset.mail_counterparty) %}

      <th>{{ form_widget(form_counterparty_reset.button, { 'label': 'Сбросить', 'attr': {'class': 'reset'} }) }}</th>

    {{ form_end(form_counterparty_search) }}

{% endblock form_search %}

{% block table_thead_tr %}
    {% if arr_counterparty_search %}
        <th>Поставщик</th>
        <th>Емаил поставщика</th>
        <th>Изменить</th>
        <th>Удаление</th>
    {% endif %}
{% endblock table_thead_tr %}

{% block tbody %} 
    {% if arr_counterparty_search %}
        {% for counterparty_search in arr_counterparty_search %}
            <tr>    

                <td>{{ counterparty_search.getCounterparty() }}</td>

                <td>{{ counterparty_search.getMailCounterparty() }}</td>

                <form action="/edit_counterparty" name="edit_counterparty" method="post">

                <td><button class="edit" type="submit" name="edit_counterparty" value="{{ counterparty_search.getId() }}">Изменить</button></td>
                                        
                </form>
                <form action="/delete_counterparty" name="delete_counterparty" method="post">

                <td><button class="delete" type="submit" name="delete_counterparty" value="{{ counterparty_search.getId() }}">Удалить</button></td>
                                        
                </form>
            </tr>
        {% endfor %}
    {% else %}
        <h2>Данные не найдены. Видите параметры в поиск</h2>  
    {% endif %}
    
{% endblock tbody %}