{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form_search %}

    {{ form_start(form_counterparty_search) }}

        <th>{{ form_label(form_counterparty_search.counterparty) }}<br>
        {{ form_widget(form_counterparty_search.counterparty) }}
        {{ form_errors(form_counterparty_search.counterparty) }}</th>

        <th>{{ form_label(form_counterparty_search.mail_counterparty) }}<br>
        {{ form_widget(form_counterparty_search.mail_counterparty) }}
        {{ form_errors(form_counterparty_search.mail_counterparty) }}</th>

        <th>{{ form_widget(form_counterparty_search.button, { 'label': 'Поиск', 'attr': {'class': 'search'} }) }}</th>

    {{ form_end(form_counterparty_search) }}
    

    {{ form_start(form_counterparty_search) }}

      {% do form_widget(form_counterparty_reset.counterparty) %}
       
      {% do form_widget(form_counterparty_reset.mail_counterparty) %}

      <th>{{ form_widget(form_counterparty_reset.button, { 'label': 'Сбросить', 'attr': {'class': 'reset'} }) }}</th>

    {{ form_end(form_counterparty_search) }}

{% endblock form_search %}

{% block table_thead_tr %}
<th>Поставщик</th>
<th>Емаил поставщика</th>
<th>Изменить</th>
<th>Удаление</th>
{% endblock %}

{% block tbody %}
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td><button class="delete" type="submit">Удалить</button></td>
{% endblock %}