{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block form %}
    {{ form_start(form_p_n) }}

        <th>{{ form_label(form_p_n.part_numbers) }}<br>
        {{ form_widget(form_p_n.part_numbers) }}
        {{ form_errors(form_p_n.part_numbers) }}</th>

        <th>{{ form_label(form_p_n.manufacturers) }}<br>
        {{ form_widget(form_p_n.manufacturers) }}
        {{ form_errors(form_p_n.manufacturers) }}</th>

        <th>{{ form_label(form_p_n.name_detail) }}<br>
        {{ form_widget(form_p_n.name_detail) }}
        {{ form_errors(form_p_n.name_detail) }}</th>

        <th>{{ form_label(form_p_n.id_part_name) }}<br>
        {{ form_widget(form_p_n.id_part_name) }}
        {{ form_errors(form_p_n.id_part_name) }}</th>

        <th>{{ form_label(form_p_n.id_car_brand) }}<br>
        {{ form_widget(form_p_n.id_car_brand) }}
        {{ form_errors(form_p_n.id_car_brand) }}</th>

        <th>{{ form_label(form_p_n.id_Side) }}<br>
        {{ form_widget(form_p_n.id_Side) }}
        {{ form_errors(form_p_n.id_Side) }}</th>

        <th><button class="save" type="submit">Сохранить</button></th>
    {{ form_end(form_p_n) }}
{% endblock %}

{% block table_thead_tr %}
<th>№</th>
<th>№ Детали</th>
<th>Производитель</th>
<th>Удаление</th>
{% endblock %}

{% block tbody %}
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td><button class="delete" type="submit">Удалить</button></td>
{% endblock %}