{% extends 'base.html.twig' %}

{% block title %}{{title_logo}}{% endblock %}

{% block logo %}{{title_logo}}{% endblock %}

{% block legend %}{{legend}}{% endblock legend%}

{% block legend_search %}{{legend_search}}{% endblock legend_search %}

{% block form_save_edit_sales %}

{#Форма сохранения деталей#}
    {{ form_start(form_p_n_save, {'action': path('save_part_no')}) }}
{#{{ dump(app.flashes()) }}#}
        {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
        {% set save_part_numbers = '' %}
        {% set save_id_original_number = '' %}
        {% set save_manufacturers = '' %}
        {% set save_name_detail = '' %}
        {% set save_id_part_name = '' %}
        {% set save_id_car_brand = '' %}
        {% set save_id_side = '' %}
        {% set save_id_body = '' %}
        {% set save_id_axle = '' %}
        {% set save_id_in_stock = '' %}

        {% for value_part_numbers in app.flashes('part_numbers_save') %}  
            {% set save_part_numbers = value_part_numbers %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.part_numbers) }}<br>
        {{ form_widget(form_p_n_save.part_numbers, {value : save_part_numbers}) }}<br>
        {% for message_save in app.flashes('children[part_numbers].data_save') %}
            {{ message_save }}
        {% endfor %}
        {{ form_errors(form_p_n_save.part_numbers) }}</th>

        {% do form_widget(form_p_n_save.id_original_number) %}

        {% for value_original_number in app.flashes('original_number_save') %}  
            {% set save_id_original_number = value_original_number %}
        {% endfor %}
        <th>{{ form_label(form_original_number_save.original_number) }}<br>
        {{ form_widget(form_original_number_save.original_number, {value : save_id_original_number}) }}<br>
        {% for message_save in app.flashes('children[original_number].data_save') %}
            {{ message_save }}
        {% endfor %}
        {{ form_errors(form_original_number_save.original_number) }}</th>

        {% for value_manufacturers in app.flashes('manufacturers_save') %}  
            {% set save_manufacturers = value_manufacturers %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.manufacturers) }}<br>
        {{ form_widget(form_p_n_save.manufacturers, {value : save_manufacturers}) }}<br>
        {% for message_save in app.flashes('children[manufacturers].data_save') %}
            {{ message_save }}
        {% endfor %}
        {{ form_errors(form_p_n_save.manufacturers) }}</th>

        {% for value_name_detail in app.flashes('name_detail_save') %}  
            {% set save_name_detail = value_name_detail %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.name_detail) }}<br>
        {{ form_widget(form_p_n_save.name_detail, {value : save_name_detail}) }}<br>    
        {% for message_save in app.flashes('children[name_detail].data_save') %}
            {{ message_save }}
        {% endfor %}
        {{ form_errors(form_p_n_save.name_detail) }}</th>

        {% for value_id_part_name in app.flashes('id_part_name_save') %}  
            {% set save_id_part_name = value_id_part_name %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_part_name) }}<br>
        {{ form_widget(form_p_n_save.id_part_name, {value : save_id_part_name}) }}
        {{ form_errors(form_p_n_save.id_part_name) }}</th>
                                  
    </tr>
    <tr>

        {% for value_id_car_brand in app.flashes('id_car_brand_save') %}  
            {% set save_id_car_brand = value_id_car_brand %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_car_brand) }}<br>
        {{ form_widget(form_p_n_save.id_car_brand, {value : save_id_car_brand}) }}
        {{ form_errors(form_p_n_save.id_car_brand) }}</th>

        {% for value_id_side in app.flashes('id_side_save') %}  
            {% set save_id_side = value_id_side %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_side) }}<br>
        {{ form_widget(form_p_n_save.id_side, {value : save_id_side}) }}
        {{ form_errors(form_p_n_save.id_side) }}</th>

        {% for value_id_body in app.flashes('id_body_save') %}  
            {% set save_id_body = value_id_body %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_body) }}<br>
        {{ form_widget(form_p_n_save.id_body, {value : save_id_body}) }}
        {{ form_errors(form_p_n_save.id_body) }}</th>

        {% for value_id_axle in app.flashes('id_axle_save') %}  
            {% set save_id_axle = value_id_axle %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_axle) }}<br>
        {{ form_widget(form_p_n_save.id_axle, {value : save_id_axle}) }}
        {{ form_errors(form_p_n_save.id_axle) }}</th>

        {% for value_id_in_stock in app.flashes('id_in_stock_save') %}  
            {% set save_id_in_stock = value_id_in_stock %}
        {% endfor %}
        <th>{{ form_label(form_p_n_save.id_in_stock) }}<br>
        {{ form_widget(form_p_n_save.id_in_stock, {value : save_id_in_stock}) }}
        {{ form_errors(form_p_n_save.id_in_stock) }}</th>

        <th>{{ form_widget(form_p_n_save.button, { 'label': 'Сохранить', 'attr': {'class': 'save'} }) }}</th>
        
   {{ form_end(form_p_n_save) }}

{% endblock form_save_edit_sales %}

{% block form_search %}
    {#Форма поиска деталей#}
  {{ form_start(form_p_n_search, { attr: {novalidate: 'novalidate'}, 'action': path('part_no')}) }}

        {#Переменный для вывода данных в форме когда форма не прошла валидацию#}
        {% set search_part_numbers = '' %}
        {% set search_id_original_number = '' %}
        {% set search_manufacturers = '' %}
        {% set search_id_part_name = '' %}
        {% set search_id_car_brand = '' %}
        {% set search_id_side = '' %}
        {% set search_id_body = '' %}
        {% set search_id_axle = '' %}
        {% set search_id_in_stock = '' %}

        {% for value_part_numbers in app.flashes('part_numbers_search') %}  
            {% set search_part_numbers = value_part_numbers %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.part_numbers) }}<br>
        {{ form_widget(form_p_n_search.part_numbers, {value : search_part_numbers}) }}<br>
        {% for message in app.flashes('children[part_numbers].data_search') %}
            {{ message }}
        {% endfor %}
        {{ form_errors(form_p_n_search.part_numbers) }}</th>

        {% for value_original_number in app.flashes('original_number_search') %}  
            {% set search_id_original_number = value_original_number %}
        {% endfor %}
        <th>{{ form_label(form_original_number_search.original_number) }}<br>
        {{ form_widget(form_original_number_search.original_number, {value : search_id_original_number}) }}<br>
        {% for message_search in app.flashes('children[original_number].data_search') %}
            {{ message_search }}
        {% endfor %}
        {{ form_errors(form_original_number_search.original_number) }}</th>

        {% do form_widget(form_p_n_search.id_original_number) %}

        {% do form_widget(form_p_n_search.manufacturers) %}
       
        {% do form_widget(form_p_n_search.name_detail) %}

        {% for value_id_part_name in app.flashes('id_part_name_search') %}  
            {% set search_id_part_name = value_id_part_name %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_part_name) }}<br>
        {{ form_widget(form_p_n_search.id_part_name, {value : search_id_part_name}) }}
        {{ form_errors(form_p_n_search.id_part_name) }}</th>

        {% for value_id_car_brand in app.flashes('id_car_brand_search') %}  
            {% set search_id_car_brand = value_id_car_brand %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_car_brand) }}<br>
        {{ form_widget(form_p_n_search.id_car_brand, {value : search_id_car_brand}) }}
        {{ form_errors(form_p_n_search.id_car_brand) }}</th>

        {% for value_id_side in app.flashes('id_side_search') %}  
            {% set search_id_side = value_id_side %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_side) }}<br>
        {{ form_widget(form_p_n_search.id_side, {value : search_id_side}) }}
        {{ form_errors(form_p_n_search.id_side) }}</th>

        {% for value_id_body in app.flashes('id_body_search') %}  
            {% set search_id_body = value_id_body %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_body) }}<br>
        {{ form_widget(form_p_n_search.id_body, {value : search_id_body}) }}
        {{ form_errors(form_p_n_search.id_body) }}</th>

        {% for value_id_axle in app.flashes('id_axle_search') %}  
            {% set search_id_axle = value_id_axle %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_axle) }}<br>
        {{ form_widget(form_p_n_search.id_axle, {value : search_id_axle}) }}
        {{ form_errors(form_p_n_search.id_axle) }}</th>

        {% for value_id_in_stock in app.flashes('id_in_stock_search') %}  
            {% set search_id_in_stock = value_id_in_stock %}
        {% endfor %}
        <th>{{ form_label(form_p_n_search.id_in_stock) }}<br>
        {{ form_widget(form_p_n_search.id_in_stock, {value : search_id_in_stock}) }}
        {{ form_errors(form_p_n_search.id_in_stock) }}</th>

        <th>{{ form_widget(form_p_n_search.button, { 'label': 'Поиск', 'attr': {'class': 'search'} }) }}</th>
        
    {{ form_end(form_p_n_search) }}

    <form action="/reset_part_no" name="reset_part_no">
    <th><button class="reset" type="submit" name="reset_part_no">Сбросить</button></th>
    </form>
    
{% endblock form_search %}

{% block table_thead_tr %}
{% if arr_part_no %}
    {% for arr_search_part_no in arr_part_no %}
        {% if arr_search_part_no %}
            <th>№ Детали</th>
            <th>№ Оригинал</th>
            <th>Производитель</th>
            <th>Описание детали</th>
            <th>Название детали</th>
            <th>Марка</th>
            <th>Сторона</th>
            <th>Кузов</th>
            <th>Перед Зад</th>
            <th>Наличие</th>
            <th>Изменить</th>
            <th>Удаление</th>
        {% endif %}
    {% endfor %}
{% else %}
    <h2>Видите параметры в поиск</h2> 
{% endif %}
{% endblock table_thead_tr %}

{% block tbody %}
    {#выводит таблицу по поиску#}
       {% for arr_search_part_no in arr_part_no %}
            {% if arr_search_part_no %}
               {% for part_no in arr_search_part_no %}
                    <tr>
                        <td>{{ part_no.getPartNumbers() }}</td>

                        <td>{{ part_no.getIdOriginalNumber().getOriginalNumber()|default('') }}</td>

                        <td>{{ part_no.getManufacturers() }}</td>

                        <td>{{ part_no.getNameDetail() }}</td>

                        <td>{{ part_no.getIdPartName().getPartName()|default('') }}</td>

                        <td>{{ part_no.getIdCarBrand().getCarBrand()|default('') }}</td>

                        <td>{{ part_no.getIdSide().getSide()|default('') }}</td>

                        <td>{{ part_no.getIdBody().getBody()|default('') }}</td>

                        <td>{{ part_no.getIdAxle().getAxle()|default('') }}</td>

                        <td>{{ part_no.getIdInStock().getInStock()|default('') }}</td>

                            <form action="/edit_part" name="edit_part" method="post">

                                <td><button class="edit" type="submit" name="edit_part" value="{{ part_no.getId() }}">Изменить</button></td>
                                
                            </form>
                            <form action="/delete_part" name="delete_part" method="post">

                                <td><button class="delete" type="submit" name="delete_part" value="{{ part_no.getId() }}">Удалить</button></td>
                                
                            </form>
                    </tr>   
                {% endfor %}
            {% else %}
                <h2>Данные не найдены. Видите параметры в поиск</h2>  
            {% endif %}
        {% endfor %}
{% endblock tbody %}