<!DOCTYPE html>
<htmllang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/style.css') }}"/>
        {% block stylesheets %}
        {% endblock stylesheets %}

        {% block javascripts %}
        {% endblock javascripts %}
    </head>
    <body>
        {% block body %}
            <header>
                {% block header %}
                    <div class="header_logo">
                        <a>{% block logo %}{% endblock %}</a>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="{{ path('incoming_documents')}}">Входящие документы</a></li>
                            <li><a href="{{ path('price')}}">Прайс</a></li>
                            <li><a href="{{ path('sales')}}">Продажи</a></li>
                            <li><a href="{{ path('refund')}}">Возвраты</a></li>
                            <li><a href="{{ path('counterparty')}}">Контрагент</a></li>
                            <li><a href="{{ path('part_no')}}">Детали</a></li>
                            <li><a href="{{ path('ku_dir')}}">КуДир</a></li>
                        </ul>
                    </nav>



                    <button class="green">Войти</button>
                {% endblock %}
            </header>
            <div class="center_block_main">
                <main>
                    {% block main %}
                        <div class="form">
                            <fieldset>
                                <legend>{% block legend %}{% endblock legend%}</legend>
                                    <table>
                                        <tr>
                                            {% block form_sales_edit %}
                                            {% endblock form_sales_edit %}
                                        </tr>
                                    </table> 
                           <fieldset>
                        </div> 
                        <div class="form_search">
                            <fieldset>
                                <legend>{% block legend_search %}{% endblock legend_search %}</legend>
                                    <table>
                                        <tr>
                                            {% block form_search %}
                                            {% endblock form_search %}
                                        </tr>
                                    </table> 
                           <fieldset>
                        </div> 
                        <div class="table">  
                            <table>
                                <thead>
                                    <tr>
                                        {% block table_thead_tr %}
                                        {% endblock table_thead_tr %}	
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                        {% block tbody %}
                                        {% endblock tbody %}
                                    
                                </tbody>
                            </table> 
                        </div> 
                    {% endblock %}
                </main>
            </div>
        {% endblock %}
    </body>
</html>
